@import "tailwindcss";

@font-face {
  font-family: "quran-common";
  src: url("https://static-cdn.tarteel.ai/qul/fonts/common/quran-common.ttf")
    format("truetype");
  font-display: swap;
}

:root {
  --background: #f8fafb;
  --foreground: #171717;
  --primary: #005354;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
  --font-serif: var(--font-noto-serif);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta, "Plus Jakarta Sans", sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-noto-serif, "Noto Serif", serif);
}


